<div class="all">
  <h1>Controle Diário</h1>

  <p>Meta R$ {{ meta }}</p>
  <p>{{ dias }} Dias</p>
  <p>Calculo por dia R$ {{ divisao.toFixed(2) }}</p>

  <div class="boleta">
    <h1>Borderô dia {{ diaVigente }}</h1>

    <h1>Item: <br /></h1>

    <div class="inputAndBtn">
      <input
        type="number"
        class="inputItem"
        placeholder="Quantidade de Itens"
        [(ngModel)]="quantidadeItens"
      />

      <button class="btnAdd">Quantidade itens</button>
    </div>

    <h1>Valor:</h1>
    <div class="inputAndBtn">
      <input
        type="number"
        class="inputItem"
        placeholder="Valor unidade"
        [(ngModel)]="valorVenda"
      />
      <button class="btnAdd">Valor unitário</button>
    </div>

    <h1>
      Valor final da venda é de <br />
      {{ valorFinal() }} Reais com {{ quantidadeItens }} Itens?
    </h1>

    <div class="btnEnd">
      <button class="btnAdd">Fechar valor final</button>
    </div>
  </div>
</div>
<button class="btnAdd" id="btnAddEnd">Fechar dia {{ diaVigente }}</button>

<div class="filtro">
  <p>Pesquisa por dia:</p>
  <input type="text" />
  <button>Filtrar</button>
</div>

<p>{{ testeService }}</p>


<div class="mes">
  <div class="dias">
    <p>Dia 01/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>

  <div class="dias">
    <p>Dia 02/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>

  <div class="dias">
    <p>Dia 03/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>

  <div class="dias">
    <p>Dia 04/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>

  <div class="dias">
    <p>Dia 05/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>

  <div class="dias">
    <p>Dia 05/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>

  <div class="dias">
    <p>Dia 05/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
  </div>
</div>
