.all {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(https://as2.ftcdn.net/v2/jpg/04/70/79/81/1000_F_470798193_n3ZqMNaRJ9m7PEb5FEnoPqLJRlPvQZ7G.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.boleta {
  border: solid 2px #f0866954;
  border-radius: 0.5rem;
  width: 900px;
  height: 800px;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-bottom: .5rem;
  padding: 2rem;
  background-color: #f086694d;
  display: flex;
  flex-direction: column;
}

.total,
button {
  margin: 1rem;
}

.filtro {
  display: flex;
  flex-direction: row;
  border: solid 1px #f0866967;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dias {
  flex-wrap: wrap;
  border: solid 2px #f0866967;
  width: 200px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f0866998;
  text-align: center;
}

.mes {
  display: flex;
  flex-direction: row;
}

.inputItem {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1px gray;
  width: 10rem;
  background-color: rgba(160, 40, 40, 0.411);
  margin: 1rem;
}

.inputItem:hover {
  background-color: rgba(160, 40, 40, 0.852);
}

.btnAdd {
  width: 10rem;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: rgba(160, 40, 40, 0.411);
  
  
}

.inputAndBtn {
  border-radius: 5rem;
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.btnEnd {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.btnAdd:hover {
  background-color: rgba(0, 128, 0, 0.384);
}

#btnAddEnd:hover {
  background-color: rgba(238, 18, 18, 0.703);
}

#btnAddEnd {
  width: 10rem;
  align-items: center;
  padding: .2rem;
}

p,h2{
  color: rgba(8, 8, 8, 0.904);
}