<div class="all">
  <h1>Controle Diário Pessoal</h1>

  <section class="config">
    <p>Meta R$ {{ meta }}</p>
    <p>Dias {{ dias }} </p>
    <p>Calculo por dia para 100% R$ </p>
    <p>Calculo por dia para 130% R$ </p>
    <h2>Definida la no componente Admin {{ meta }}</h2>
  </section>

  <div class="boleta">
    <h1>BORDERÔ</h1>

    <h2>Item:</h2>

    <div class="inputAndBtn">
      <input
        type="number"
        class="inputItem"
        placeholder="Quantidade de Itens"
        [(ngModel)]="itemTemp"
      />

      <button class="btnAdd" (click)="guardaItem()">
        Adicione a quantidade itens
      </button>
    </div>

    <div class="valor dos itens">
      <h2>Valor:</h2>

      <div class="inputAndBtn">
        <input
          *ngFor="let _ of valorParaItens(item); let i = index"
          type="number"
          class="inputItem"
          placeholder="Valor unidade"
          [(ngModel)]="TodosPrecosTemp[i]"
        />

        <button class="btnAdd" (click)="adicionarPreco()">
          Valor unitário
        </button>
      </div>
      <h1>Total venda: {{ detalheVenda() }}</h1>
      <h1>PA: {{ item }}</h1>
      <h1>Média valor da venda: {{ calculoMedia() }}</h1>
    </div>

    <div class="btnEnd">
      <button class="btnAdd">Fechar valor final</button>
    </div>
    <h1>Borderô {{ fechaValorFinal() }}</h1>
  </div>
</div>

<section class="parteFinalColeta">
  <p>Atendimentos por dia:</p>

  <input type="number" placeholder="quantas abordagens" />
  <button class="btnAddEnd" id="">Finalizar dia</button>
</section>

<div class="filtro">
  <p>Pesquisa por dia:</p>
  <input type="text" placeholder="Digite o dia desejado" />
  <button class="btnAddEnd">Filtrar</button>
</div>

<div class="mes">
  <h1>friedman calculado, criar outra rota para ver os dias como se fossem planillhas</h1>
  <div class="dias">

    <p>Dia 01/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>

  <div class="dias">
    <p>Dia 02/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>

  <div class="dias">
    <p>Dia 03/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>

  <div class="dias">
    <p>Dia 04/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>

  <div class="dias">
    <p>Dia 05/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>

  <div class="dias">
    <p>Dia 05/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>

  <div class="dias">
    <p>Dia 05/08</p>
    <p>Soma do valor da venda</p>
    <p>Peças da boleta</p>
    <p>total de peças no dia</p>
    <p>Total de boletas no dia</p>
    <p>Total de atendimentos para calulo da conversão</p>
  </div>
</div>
