@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

.all {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.boleta {
  border: solid 2px #f0866936;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  background-color: #ffa7877e;
  display: flex;
  flex-direction: column;
}

.total,
button {
  margin: 1rem;
}

.filtro {
  display: flex;
  flex-direction: row;
  border: solid 1px #00000067;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dias {
  flex-wrap: wrap;
  border: solid 2px #f0866967;
  width: 200px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f0866998;
  text-align: center;
}

.mes {
  display: flex;
  flex-direction: row;
}

.inputItem {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  border: solid 1px #f086691c;
  background-color: #f0866970;
  margin: 1rem;
}

.inputItem:hover {
  background-color: rgba(160, 40, 40, 0.63);
}

.btnAdd {
  width: 15rem;
  cursor: pointer;
  padding: 1rem;

  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: solid 1px #f086691c;
  background-color: #f0866970;
}

.inputAndBtn {
  border-radius: 5rem;
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.btnAddEnd {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: medium;

  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.btnAdd:hover {
  background-color: rgba(0, 128, 0, 0.267);
}

#btnAddEnd:hover {
  background-color: rgba(238, 18, 18, 0.703);
}

#btnAddEnd {
  width: 8rem;
  align-items: center;
  padding: 0.2rem;
}

p,
h2 {
  color: rgba(8, 8, 8, 0.904);
}

.config {
  font-size: 1.25rem;
  border: solid 1px black;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.parteFinalColeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.parteFinalColeta input {
  text-align: center;
  margin-left: 1rem;
}
