
<div>
  <h1>Controle Diário Pessoal</h1>

  <button class="btnAddEnd" (click)="mostrarAcompanhamento()">
    Acompanhamento mensal
  </button>

  <section class="config" class="all" *ngIf="acompanhamento">
    <p>Meta R$ {{ meta }}</p>
    <p>Dias {{ dias }}</p>
    <p>Calculo por dia para 100% R$</p>
    <p>Calculo por dia para 130% R$</p>
  </section>

  <div class="boleta">
    <h1>BORDERÔ</h1>

    <h2>Item:</h2>

    <div class="inputAndBtn">
      <input
        type="number"
        class="inputItem"
        placeholder="Quantidade de Itens"
        [(ngModel)]="itemTemp"
      />

      <button class="btnAdd" (click)="guardaItem()">Quantidade de itens</button>
    </div>

    <div class="valor dos itens">
      <h2>Valor:</h2>

      <div class="inputAndBtn">
        <input
          *ngFor="let _ of valorParaItens(item); let i = index"
          type="number"
          class="inputItem"
          placeholder="Valor unidade"
          [(ngModel)]="TodosPrecosTemp[i]"
        />

        <button class="btnAdd" (click)="adicionarPreco()"> Valor final</button>
      </div>
      <h1>Confirma total venda? R${{ detalheVenda() }}</h1>
    </div>
  </div>
</div>

<section class="parteFinalColeta">
  <p>Atendimentos por dia:</p>
  <input type="number" placeholder="Oportunidades" [(ngModel)]="oportunidades"/>
  <p>Horas trabalhadas:</p>
  <input type="number" placeholder="Horas trabalhadas"  [(ngModel)]="horasTrabalho" />
  <button class="btnAddEnd" id="" >Finalizar dia</button>
</section>

<div class="filtro">
  <p>Pesquisa por dia:</p>
  <input type="text" placeholder="Digite o dia desejado" />
  <button class="btnAddEnd">Filtrar</button>
</div>

<div class="mes">
  <div class="dias">
    <p class="separar">Dia 01/08</p>
    <button (click)="mostraDiv()" class="btnAdd">Mais informações</button>

    <p>Soma dia: {{ total }}</p>

    <div class="maisInfo" *ngIf="mais">
      <p>Horas de trabalho: {{horasTrabalho}}</p>
      <p>Total de vendas: {{ total }}</p>
      <p>Número de transações: {{transacoes}}</p>
      <p>Número de itens: {{ item }}</p>
      <p>Oportunidades {{oportunidades}}</p>

      <p>Venda media:</p>
      <p>Itens por venda:</p>
      <p>Vendas por hora:</p>
      <p>Taxa de conversão:</p>
    </div>
  </div>
</div>
