.all{
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
    border: solid black 2px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

p,h2{
    color: rgba(204, 116, 65, 0.904);
}